/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "SansitaSwashed-Regular";

  src: url("./fonts/SansitaSwashed-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "DancingScript-Regular";

  src: url("./fonts/DancingScript-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}